.fsp-progress-container {
    width: 100%;
    margin: 10px 0;
    font-family: sans-serif;
}

.fsp-progress-container p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.fsp-progress-wrapper {
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    position: relative;
}

.fsp-progress-bar {
    height: 100%;
    border-radius: 10px;
    background: repeating-linear-gradient(
        45deg,
        #8e2de2,
        #8e2de2 10px,
        #b97cee 10px,
        #b97cee 20px
    );
    position: relative;
    overflow: hidden;
}

.fsp-progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.055) 0%,
        rgba(255,255,255,0.4) 50%,
        rgba(255, 255, 255, 0.055) 100%
    );
    transform: skewX(-20deg);
    animation: shine 2s infinite linear;
}

@keyframes shine {
    0% { left: -50%; }
    100% { left: 100%; }
}