.fsp-progress-container {
    width: 100%;
    margin: 10px 0;
    font-family: sans-serif;
    padding: 24px;
    border-radius: 18px;
    border: #dfdfdf solid 1px;
}

.fsp-progress-container {
    margin-bottom: 5px;
    font-family: inherit;
    font-size: 18px;
    color: #333;
}

.fsp-progress-wrapper {
    background: #eee;
    border-radius: 10px;
    margin: 4px 0 0 0;
    overflow: hidden;
    height: 20px;
    width: 100%;
    position: relative;
}

.fsp-progress-bar {
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.fsp-progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 55%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.033) 0%,
        rgba(255,255,255,0.25) 50%,
        rgba(255, 255, 255, 0.033) 100%
    );
    transform: skewX(-20deg);
    animation: shine 2s infinite linear;
}

@keyframes shine {
    0% { left: -50%; }
    100% { left: 100%; }
}